.col-md-8.col-md-offset-2
  %h1
    Update
    = @service.name
  = link_to "Append", "#", :class => "update-api btn btn-default form-control", :id => "append-api"
  = link_to "New Version", "#", :class => "update-api btn btn-default form-control", :id => "new-api-version"
  %div#explanation
    %h4
      Do you want to add data to your API? For instance, a new month's worth of traffic records? Click "Append"! But, make sure that the file you are uploading does not contain duplicate data--unless you want that. To see what data already exists
      =link_to "click here.", "/services/#{@service.slug}/records"

    %h4 Did you add or delete headers from your API? Click "New Version"!
  %div#add-info.update-form.hideable
    =render partial: "updating"
