%nav.navbar.navbar-default{:role => "navigation"}
  .container-fluid
    .navbar-header
      %a.navbar-brand{:href => "/"}
        %span simple-data
    %form.navbar-form.navbar-right{:role => "search"}
      .form-group
        %input.form-control{:placeholder => "Search", :type => "text"}
      %button.btn.btn-default{:type => "submit"} Submit
    %ul.nav.navbar-nav.navbar-right
      %li
        = link_to "Logout", session_path(session[:user_id]), method: :delete if session[:user_id]
      %li.dropdown
        %a.dropdown-toggle{"aria-expanded" => "false", "data-toggle" => "dropdown", :href => "#", :role => "button"}
          %span Explore
          %span.caret
        %ul.dropdown-menu{:role => "menu"}
          %li
            %a{:href => "/users/login"}
              %span Log-In
          %li
            %a{:href => "/users/about"}
              %span About
          %li
            %a{:href => "/users/faq"}
              %span FAQ
