- @page_title = 'Contact Us'

%h1 Contact Us

.row
%h2
  If you have a support request, or a question about SimpleData, please contact us via at
  /= link_to "Contact Us", new_contact_path
  =mail_to "simpledatadbc@gmail.com", "Contact the Simple Data Team", encode: "javascript"
