%h1 Frequently Asked Questions

%h2
  What is
  = t('site_title')
  ?
%p
  Answer

%h2
  Is
  = t('site_title')
  free to use?
%p
  Answer

%h2 Can I use this tool for good or evil?

%p
  Answer

%h2
  What types of licenses do you support?

%p
  Answer
