/*
 *= require_tree .
 *= require_self
 *= require jquery-ui
 */
@import "bootstrap-sprockets"
@import "bootstrap"
@import "font-awesome"

html, body
  background-image: url(shattered.png)

.container
  background-color: #fff
  height: 100%
  padding-bottom: 75px
  border-radius: 5px
  min-height: 1000px
  position: relative

footer
  position: absolute
  height: 70px
  width: 100%
  bottom: 0
  left: 0

.form-control:focus
  border-color: #36F
  outline: 0
  -webkit-box-shadow: none
  box-shadow: none

a
  color: #36F

a:hover
  text-decoration: none
  color: #36F

.btn-primary
  background-color: white
  color: black
  border-color: black

.btn a
  color: black
.update-headers-btn
  max-width: 225px
.btn a:hover
  color: white
  text-decoration: none

.btn:hover, .btn-primary:hover, .hovered
  background-color: #36F
  color: white
  border-color: #36F

.navbar
  font-size: 1.1em
  border: none
  background-color: white

.navbar-right
  font-weight: 200

.navbar-default .navbar-nav > li > a
  color: #36F

.navbar-brand a
  font-size: 1.5em
  color: #36F

.navbar-brand a:hover
  text-decoration: none

.navbar-nav, .navbar-nav > li
  text-align: center

.dropdown
  font-size: 1.1em
  padding-top: 7px

span
  color: #36F

footer
  .col-lg-12
    padding-bottom: 20px

.hideable
  display: none

.faq-box
  width: 600px
