/*
 *= require_tree .
 *= require_self
 *= require jquery-ui
 */
@import "bootstrap-sprockets"
@import "bootstrap"
@import "font-awesome"


html, body
  height: 100%
  background-color: #ccc

.container
  background-color: #fff

.form-control:focus
  border-color: #36F
  outline: 0
  -webkit-box-shadow: none
  box-shadow: none

a
  color: #36F

a:hover
  text-decoration: none
  color: #36F

.btn a
  color: black

.btn a:hover
  color: white
  text-decoration: none

.btn:hover, .btn-default:hover
  background-color: #36F
  color: white
  border-color: #36F

.navbar
  font-size: 1.1em
  border: none
  background-color: white

.navbar-right
  font-weight: 200

.navbar-default .navbar-nav > li > a
  color: #36F

.navbar-brand a
  font-size: 1.5em
  color: #36F

.navbar-brand a:hover
  text-decoration: none

.dropdown
  font-size: 1.1em
  padding-top: 7px

span
  color: #36F

#push
  height: 60px

#wrap
  min-height: 100%
  margin: 0 auto -5%

#main
  overflow: auto
  padding-bottom: 5%

.fa-copyright
  margin-left: 20%

.push
  height: 5%

.footer
  color: black
  margin: 0px 0 0
  height: 5%
  .social-links
    font-size: 18px
    a
      margin: 0 7px

footer
  margin-top: 2em
  background-color: #CCC
  .navbar-nav
    background-color: #CCC
    width: 110%
    margin-left: -5%
    text-align: center
    li
      float: none
      display: inline-block

.hideable
  display: none
