/*
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets"
@import "bootstrap"

.btn, .btn-default
  background-color: white
  color: #3366FF
  border-color: #3366FF

.btn:hover, .btn-default:hover
  background-color: #3366FF
  color: white
  border-color: #3366FF
  border-color: #6666FF

.btn:hover, .btn-default:hover, .fix span:hover
  background-color: #6666FF
  color: white
  border-color: #6666FF

.btn:hover, .btn-default:hover, .fix span:hover
  background-color: #6666FF
  color: white
  border-color: #6666FF

.navbar span
  font-size: 1.1em

.navbar
  border: none
  background-color: white

.navbar-brand
  padding-left: 55%
  margin-left: 10px

.navbar-brand span
  color: #6666FF
  border-bottom: none
  background-color: white
  margin-left: 10px

