.navbar span, .jumbotron span
  color: #3366FF

.col-md-4
  display: inline
  max-width: 20%
  margin-left: 10%

.jumbotron
  height: 250px

div.jumbotron
  padding-top: 20px
  background-color: white

a.bubbles
  height: 80px
  border-radius: 40px
  line-height: 70px
  font-size: 3.9em
  max-width: 40%
  margin-left: 5%
  margin-right: 5%