div.jumbotron
  background-color: white
  padding-bottom: 0
  padding-top: 160px
  margin-bottom: 125px

div.jumbotron h1
  font-size: 6em
  margin-top: -0.4em
  text-align: center

.navbar span, .jumbotron span, .info_blocks span
  color: #36F

a.bubbles
  height: 80px
  border-radius: 15px
  line-height: 70px
  font-size: 3em
  max-width: 40%
  margin: 0 5% 30px 5%
  background-color: #36F
  color: white
  border-color: #36F

a.bubbles.learn-more
  margin-top: -1em
  margin-bottom: 25px

div.info_blocks
  height: 350px
  padding-top: 0
  margin-bottom: 10px

div.info_blocks h2
  font-size: 2.3em
  text-align: center
  font-weight: 400

div.info_blocks p
  font-size: 1.5em
  font-weight: 200

div.fa-container
  text-align: center
