.jumbotron
  height: 450px

div.jumbotron h1
  font-size: 7em

div.jumbotron p
  font-size: 3em

div.jumbotron
  padding-top: 10px
  background-color: white

.navbar span, .jumbotron span, .info_blocks span
  color: #36F

.col-md-4
  max-width: 30%
  margin-left: 3%

a.bubbles
  height: 80px
  border-radius: 40px
  line-height: 70px
  font-size: 3em
  max-width: 40%
  margin: 0 5% 30px 5%
  background-color: #36F
  color: white
  border-color: #36F
  border-color: #36F

a.bubbles.learn-more
  margin-bottom: 100px

div.info_blocks
  height: 350px
  padding-top: 0

div.info_blocks h4
  font-size: 3em
  font-weight: 400

div.info_blocks p
  font-size: 1.5em
  font-weight: 200
