h4.panel-title
  font-size: 2em

label
  display: block
  font-size: 1.5em
  font-weight: 200

textarea
  min-height: 200px

#service_name
  max-width: 200px

#service_file
  padding-top: 10px

iframe
  height: 500px
  width: 500px
  border: none

.service-list
  list-style: none
  font-size: 1.4em
  margin-left: -40px
  margin-bottom: 10px

.sublist
  margin-left: 5%
  font-style: italic
  font-size: .8em

.header-list
  margin-left: 5%
  font-style: italic
h4 span
  color: #36F

#new-api
  max-width: 15%

#update-service-button
  max-width: 75px
  margin-top: 5px
  margin-bottom: 10px

.serv-list
  margin-left: -5%

.serv-list li
  list-style: none

.serv-name
  font-size: 1.5em

.updated-at
  font-style: italic
  font-size: .8em

#create-org-btn
  max-width: 150px


.displayer, .hider
  font-size: .5em

.activ-serv-btn
  max-width: 120px

.update-api
  max-width: 150px

#new-api-version.update-api
  margin-left: 10%

.update-form
  margin-top: 50px

#explanation
  margin-top: 10px
  h4
    font-weight: 400

.create-api-form
  margin-top: 10px

.search-btn
  max-width: 75px

#search-bar
  width: 200px

.custom_pagination
  text-align: center
  background: white
  cursor: default
  a, span, em
    padding: 0.2em 0.5em
    display: inline-block
    margin-right: 1px
  .disabled
    color: black
    padding: 0.2em 0.5em
    border: 1px solid #dddddd
  .current
    font-style: normal
    font-weight: bold
    background: #36F
    color: white
    border: 1px solid #36F
  a
    text-decoration: none
    color: #105cb6
    border: 1px solid #36F
    &:hover, &:focus
      color: white
      border-color: #36F
      background: #36F
  .page_info
    background: #36F
    color: white
    padding: 0.4em 0.6em
    width: 22em
    margin-bottom: 0.3em
    text-align: center
    b
      color: #36F
      background: #36F
      padding: 0.1em 0.25em

.pagination a
  text-align: center
  font-size: 1.5em
  color: #36F

