%h2
  = @organization.name
%ul
  - @services.each do |service|
    %li
      = service.name
    - if @organization.id == current_user.organization_id
      = link_to "Update", :controller => "services", :action => "edit", :service_slug => service.slug
      = service.updated_at.strftime("Last update: %m/%d/%Y")