- @page_title = "Welcome to Simple Data"

.container-fluid
  .jumbotron
    %h1
      What is
      %span{id: "landing-title"}
        SimpleData
      ?

  .row.blocks-container
    .col-md-4.info_blocks.col-xs-4
      .fa-container
        %i.fa.fa-file.fa-5x
      %h2
        Give us your
        %span data
      %p You've got some great data: maybe it's about a pet adoption agency, or a town's traffic patterns, or the local restaurants' menus.
    .col-md-4.info_blocks.col-xs-4
      .fa-container
        %i.fa.fa-cog.fa-5x
      %h2
        We turn it into an
        %span API
      %p Give that info to us in a friendly CSV file and we turn it into a format useful for developers.
    .col-md-4.info_blocks.col-xs-4
      .fa-container
        %i.fa.fa-star.fa-5x
      %h2
        Devs make
        %span apps
      %p Coders are hungry for data because it enhances the programs they can make for all of us.

.container-fluid
  -if current_user
    %a.btn.bubbles.col-xs-6{href: new_service_path} Create API
  -if !current_user
    %a.btn.bubbles.col-xs-6{href: new_user_path} Create API
  %a.btn.bubbles.col-xs-6{href: services_path} Explore APIs
