.jumbotron
  %h1
    What's
    %span simple-data
    ?
  %p
    %span simple-data
    is an attempt to make the Web more free. By creating a place where people can upload the amazing data they have--and making that available to web developers--we can create a stronger, better, more creative Internet--and world.
.row
  .col-md-4.info_blocks
    %h4 1--Give us your info!
    %p You've got some great data--maybe it's about a pet adoption agency--or a town's traffic patterns--or the local restaurants' menus! You know it's useful, but maybe you don't know HOW useful!
  .col-md-4.info_blocks
    %h4 2--We turn it into an API!
    %p Give that info to us (in a friendly-neighborhood CSV file) and we can turn it into something usable for web developers--the people who brought us cat memes and Facebook!
  .col-md-4.info_blocks
    %h4 3--Developers make apps based on it!
    %p Coders are hungry for data--because it means they can make things to make the world better. Go ahead--let them have a crack at it!
.container-fluid
  .row
    %a.btn.bubbles.col-xs-6 Get Started
    %a.btn.bubbles.col-xs-6 Developers
    / %p You've got some great data--maybe it's about a pet adoption agency--or a town's traffic patterns--or the local restaurants' menus! You know it's useful, but maybe you don't know HOW useful!
/ %div.container-fluid
/   %div.row
/   %a.btn.bubbles.col-xs-6 Get Started
/   %a.btn.bubbles.col-xs-6 Developers