%footer
  .container
    .text-center.center-block
      %p.txt-railway
        %ul.nav.navbar-nav
          %li
            = link_to "Home", root_path
          %li
            = link_to "About Us", about_us_path
          %li
            = link_to "Contact Us", contact_us_path
          %li
            = link_to "FAQs", faqs_path
      %br/
      .fa.fa-copyright
        Copyright 2015, all rights reserved



