

%footer
  %nav.col-md-8.col-md-offset-4
    %ul.nav.navbar-nav
      %li
        = link_to "Home", root_path
      %li
        = link_to "About Us", about_us_path
      %li
        = link_to "Contact Us", contact_us_path
      %li
        = link_to "FAQs", faqs_path
  .col-md-5.col-md-offset-3.fa.fa-copyright
    Copyright 2015, All Rights Reserved



%ul.list-inline
  %li
    %a.btn-social.btn-outline{:href => "#"}
      %i.fa.fa-fw.fa-facebook
  %li
    %a.btn-social.btn-outline{:href => "#"}
      %i.fa.fa-fw.fa-google-plus
  %li
    %a.btn-social.btn-outline{:href => "#"}
      %i.fa.fa-fw.fa-twitter
  %li
    %a.btn-social.btn-outline{:href => "#"}
      %i.fa.fa-fw.fa-linkedin
  %li
    %a.btn-social.btn-outline{:href => "#"}
      %i.fa.fa-fw.fa-dribbble