%footer.text-center.navbar-fixed-bottom
  .container-fluid
    .row
      .footer-col.col-md-6.footer-col.col-md-offset-3
        %ul.list-inline
          %li
            = link_to "Home", root_path
          %li
            = link_to "About Us", about_us_path
          %li
            = link_to "Contact Us", contact_us_path
          %li
            = link_to "FAQs", faqs_path
    .row
      .col-lg-12
        Copyright © All Rights Reserved 2015
